{% extends 'base.html' %}
{% block content %} 
<form method="post" class="buttons">
    <h3>Sohbete Katıl</h3>
    <div>
        <label>İsim:</label>
        <input type="text" placeholder="Bir İsim Seç!" name="name" value="{{name}}">
    </div>
    <div class="join">
        <input type="text" placeholder="Oda Kodu" name="code" value="{{code}}">
        <button type="submit" name="join">Odaya Katıl</button>
    </div>
    <button type="submit" name="create" class="create-btn">Oda Oluştur</button>
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</form>
{% endblock %}
